version: "3.8"

services:

    mariadb:
      image: mariadb:user
      container_name: mariadb
      build: ./requirements/mariadb/
      env_file:
        - .env
      volumes:
        - mariadb:/var/lib/mysql
      expose: 
        - "3306"
      networks:
        - inception
      restart: always
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
        interval: 30s
        timeout: 20s
        retries: 5
        start_period: 60s

    nginx:
      image: nginx:user
      container_name: nginx
      build: ./requirements/nginx/
      ports:
        - "443:443"
      env_file:
        - .env
      depends_on:
        - wordpress
      volumes:
        - wordpress:/var/www/wordpress
      networks:
        - inception
      restart: always

    wordpress:
      image: wordpress:user
      container_name: wordpress
      build: ./requirements/wordpress/
      env_file:
        - .env
      volumes:
        - wordpress:/var/www/wordpress
      expose:
        - "9000"
      depends_on:
        mariadb:
          condition: service_healthy
      networks:
        - inception
      restart: always
        
networks:
  inception:
    name: inception

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/anvander/data/mariadb
      o: bind
      type: none

  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/anvander/data/wordpress
      o: bind
      type: none