services:
    mariadb:
      container_name: mariadb
      build: ./requirements/mariadb/
      env_file:
        - .env
      volumes:
        - mariadb:/var/lib/mysql
      expose: 
        - "3306"
      networks:
        - inception
      restart: always

    nginx:
      container_name: nginx
      build: ./requirements/nginx/
      ports:
        - "443:443"
      env_file:
        - .env
      depends_on:
        - wordpress
      networks:
        - inception
      restart: always

    wordpress:
      container_name: wordpress
      build: ./requirements/wordpress/
      env_file:
        - .env
      volumes:
        - wordpress:/var/www/wordpress
      expose:
        - "9000"
      depends_on:
        - mariadb
      networks:
        - inception
      restart: always
        
networks:
  inception:
    name: inception

volumes:
  mariadb:
    driver: local
    driver_opts:
      device: /home/anvander/data/mariadb
      o: bind
      type: none

  wordpress:
    driver: local
    driver_opts:
      device: /home/anvander/data/wordpress
      o: bind
      type: none